/* ---------- General components start ---------- */
html {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1840px;
  padding: 0 25px;
}
/* ---------- General components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Header components start ---------- */
.header {
  background-image: url(../images/basic/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.header__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.menu__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23px;
  width: 50px;
}

.menu__btn span {
  background-color: #ff5017;
  display: block;
  height: 3px;
  width: 100%;
}

.header__content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 135px);
  justify-content: space-between;
  position: relative;
}

.header__images {
  width: 85%;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* ---------- Header components finish ---------- */

/*---------------------------------------------------*/

/* ---------- "Info" section components start ---------- */
.info {
  background-color: #f8f8f8;
  padding: 170px 0;
}

.info__title {
  font-size: 130px;
  line-height: 0.8;
  text-align: center;
  text-transform: uppercase;
}

.info__img {
  margin: 0 auto;
  max-width: 100%;
}

.info__content {
  display: flex;
  gap: 94px;
  margin-bottom: 170px;
  padding-left: 155px;
  padding-right: 90px;
}

.info__list {
  column-count: 2;
  gap: 140px;
}

.info__list dt,
.info__list dd {
  display: inline-block;
}

.info__list-line {
  margin-bottom: 22px;
}

.price {
  font-size: 38px;
  margin-bottom: 40px;
}

.order {
  background: linear-gradient(180deg, #ff5017 0%, #ff6837 100%);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 900;
  padding: 25px 50px;
}

.info__gallery {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.info__gallery img {
  max-width: 32%;
}
/* ---------- "Info" section components finish ---------- */

/* ---------- "Color" components start ---------- */
/* ---------- "Color" components finish ---------- */
